<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{{ skeleton.site.description }}">

        <title>{% block title %}{{ skeleton.site.translatable.name }} - {{ skeleton.site.slogan }} {% endblock %}</title>

        {% block stylesheets %}
            {#{ encore_entry_link_tags('app') }#}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body>
        {### BODY BLOCK###}
        {% block body %}

            {### HEADER ###}
            {% block main_header %}
                <header class="mainHeader {% block header_tag_class %}{% endblock header_tag_class %}">
                    {% block header_content %}{% endblock header_content %}
                </header>
            {% endblock main_header %}

            
            {### CONTENT ###}
            {% block main_content %}
                <main id="mainContent" role="main" class="{% block content_tag_class %}{% endblock content_tag_class %}">
                    {% block container_content %}{% endblock container_content %}
                </main>
            {% endblock main_content %}

            
            {### FOOTER ###}
            {% block main_footer %}
                <footer class="footer {% block footer_tag_class %}{% endblock footer_tag_class %}">
                    <div class="{% block footer_container_tag_class %}container{% endblock footer_container_tag_class %}">
                        {% block footer_content %}{% endblock footer_content %}
                    </div>
                </footer>
            {% endblock main_footer %}
        {% endblock body %}
        
        {% block javascripts %}
            <script src="{{ asset('build/runtime.js') }}"></script>
            <script src="{{ asset('build/app.js') }}"></script>
            <script src="{{ asset('build/fontawesome.js') }}"></script>
            {#{ encore_entry_script_tags('app') }#}
        {% endblock %}
    </body>
</html>
