{% extends "@HubsineSkeleton/Base/front.html.twig" %}

{% block title %}{{ status_text }} : {{ status_code }}{% endblock %}

{% block content_title %}
    {{ status_text }} : {{ status_code }}
{% endblock content_title %}

{% block body_tag_class %}error{% endblock body_tag_class %}

{% block content %}
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-md-4">
                <a class="header-logo navbar-brand mx-auto" href="/">
                    <img class="img-fluid" src="{{ vich_uploader_asset(skeleton.logo, 'file') }}" alt="" />
                </a>
            </div>
            <div class="w-100"></div>
            <div class="col-12 col-md-6 pt-5">

                {% block error_content %}

                {% endblock error_content %}

                <p>
                    {% set url = '<a href="'~path('home')~'" title="">'~ 'Home' | trans ~'</a>' %}

                    {% autoescape %}
                        {{ 'error.back' | trans({'%url%': url }) | raw }}
                    {% endautoescape %}
                </p>
            </div>
        </div>
    </div>
{% endblock content %}